.admin-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.admin-container li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

select {
  margin-left: 10px;
  padding: 4px;
  border-radius: 5px;
}


button {
    width: 90px;
  margin-left: 10px;
  background-color: #64e73c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

button.deleterequest:hover {
  background-color: #ec0c0c;
}

button.deleterequest{
  max-width: 20%;
}

.adminlogout{
  max-width: 10%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}