.form-container {
  max-width: 400px;
  background-color: rgb(127, 155, 27);
  margin: 30px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #2a7a4f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

button:hover {
  background-color: #236740;
}
